@using BusinessLogic.Models.Enums
@model DemoMvcApp.Models.CreateRecipesViewModel

@{
    ViewData["Title"] = "Create new recipe";
}

<h4>Add new recipe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" type="file" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ingredients" class="control-label">Ingredients</label>
                <textarea asp-for="Ingredients" class="form-control">
                </textarea>
                <span asp-validation-for="Ingredients" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Instructions" class="control-label">Instructions</label>
                <textarea asp-for="Instructions" class="form-control">
                </textarea>
                <span asp-validation-for="Instructions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrepTimeMinutes" class="control-label">Prep time in minutes</label>
                <input asp-for="PrepTimeMinutes" class="form-control" />
                <span asp-validation-for="PrepTimeMinutes" class="text-danger" type="number"></span>
            </div>
            <div class="form-group">
                <label asp-for="CookTimeMinutes" class="control-label">Cook time in minutes</label>
                <input asp-for="CookTimeMinutes" class="form-control" type="number" />
                <span asp-validation-for="CookTimeMinutes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Servings" class="control-label"></label>
                <input asp-for="Servings" class="form-control" />
                <span asp-validation-for="Servings" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Difficulty" class="control-label"></label>
                <select asp-for="Difficulty" class="form-control"
                    asp-items="@Html.GetEnumSelectList<Difficulty>()">
@*                     <option value="Easy">Easy</option>
                    <option value="Medium">Medium</option>
                    <option value="Hard">Hard</option> *@
                </select>
                <span asp-validation-for="Difficulty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cuisine" class="control-label"></label>
                <select asp-for="Cuisine" class="form-control"
                        asp-items="@Html.GetEnumSelectList<Cuisine>()">
                </select>
                <span asp-validation-for="Cuisine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tags" class="control-label"></label>
                <input asp-for="Tags" class="form-control" placeholder="Comma separated list" />
                <span asp-validation-for="Tags" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CaloriesPerServing" class="control-label"></label>
                <input asp-for="CaloriesPerServing" class="form-control" />
                <span asp-validation-for="CaloriesPerServing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MealType" class="control-label"></label>
                <select asp-for="MealType" class="form-control"
                        asp-items="@Html.GetEnumSelectList<MealType>()">
                </select>
                <span asp-validation-for="MealType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
